/* Custom CSS */

.container-fluid {
	background-color: #fcfcfc;
}

.body-container{
	padding: 3rem 0 3rem 0;
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	color: #fcfcfc;
	text-shadow: 0 0 10px rgba(0,0,0,0.25), 0 0 20px rgba(0,0,0,0.25);
}

h2{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	color: #131313;
}

h3 {
	font-family: 'Rubik', sans-serif;
	color: #fcfcfc;
}

ul {
	list-style-type: none;
}

.main-title {
	font-size: 4rem;
}

.sub-title {
	color: #fcfcfc;
	text-shadow: 0 0 10px rgba(0,0,0,0.25), 0 0 20px rgba(0,0,0,0.25);

}

.parallax-window {
	height: 30rem;
	width: 100%;
	/*background-image: url(../img/cover.png);
	background-size: cover;*/
	background: transparent;
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


/* Images */

.grid-pic {
  box-shadow: 0 4px 7px rgba(0,0,0,0.05), 0 4px 7px rgba(0,0,0,0.05);
}

.img-title{
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0,0,0,0.25), 0 0 20px rgba(0,0,0,0.25);
}

.topleft {
	position: absolute;
	top: 0.5rem;
	left: 1rem;
	padding-left: 0.5rem;
	color: white;
}

.profile-picture {
	float: left;
	display: block;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;

}

/* Motivation section */

.motivation {
	margin: 50px 0 50px 0;
}


/* Footer */

footer{
	background-color: #f3f3f3;
	padding: 0.5rem 0 0.5rem 0;

}

.remove-padding-lr {
	padding-left: 0;
	padding-right: 0;
}

.contact-list {
	vertical-align: middle;
	padding-left: 1rem;
	padding-top: 1rem;
}

.contacts {
	display: flex;
	align-items: center;

}

.socials {
	flex-direction: column;
  justify-content: center;
  resize: vertical;
}

.social-list {
	float: right;
	padding-top: 2.5rem;
}

.fa-twitter, .fa-facebook, .fa-instagram, .fa-linkedin-square {
	color: #131313;
}

.twitter, .facebook, .instagram, .linkedin {
	display: inline-block;
	padding-left: 1rem;
}

/* media queries */

@media (max-width: 576px) {

	.contact-list{
		display: none;
	}
	.profile-picture {
		margin:auto;
	}
	.social-list {
		float: none;
		width: 50%;
		margin: auto;
		padding-left: 0;
		padding-top: 1.5rem;
	}

}
