/* Custom CSS */

.container-fluid {
	background-color: #fcfcfc;
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	color: #131313;
}

h2 {
	font-weight: bold;
	color: #131313;
}

h5 {
	font-family: 'Roboto', sans-serif;
	color: #131313;
}

h3 {
	font-family: 'Rubik', sans-serif;
	color: #fcfcfc;
}

p {
	font-family: 'Roboto Slab', serif;
	color: #131313;
}

em {
	font-family: 'Roboto Slab', serif;
	color: #131313;

}

.main-title {
	font-size: 4em;
}


/* Images */

.grid-pic {
  box-shadow: 0 4px 7px rgba(0,0,0,0.05), 0 4px 7px rgba(0,0,0,0.05);
}

.img-title{
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0,0,0,0.25), 0 0 20px rgba(0,0,0,0.25);
}

.topleft {
	position: absolute;
	top: 8px;
	left: 16px;
	padding-left: 8px;
	color: white;
}

/* Motivation section */

.motivation {
	margin: 50px 0 50px 0;
}
